.skills-container{
    text-align: center;
    margin: 100px;
}
.skills-container h1{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #444444;
}
#skill{
    background-color: #fcfcfc;
    width: min-content;
    padding: 10px;
    border: 1px solid  #0f0e0e;;
    border-radius: 4px;
}