.skills-container {
    text-align: center;
    margin-right: 100px;  
    justify-content: center;
    display: flexbox;

}

.skills-container h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #444444;
}