.about-section{
    text-align: center;
    color: red;
}
#about-intro{
    color: #444444;
    font-weight: 1400;
    font-family: 'Poppins', sans-serif;
    font-size: 45pt;


}
.about-name{
    color: #2978b5;
    font-size: 45pt;
    font-weight: 1200;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    
}

.about-role{
    color: #444444;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-decoration: underline;
}
.about-description{
    font-family: 'Poppins', sans-serif;
    white-space: pre-line;
    /* padding: 10px; */
    text-align: left;
}

.about-buttons a{
    color: #444444;
}

.about-buttons{
    margin-top: 50px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 20px
}

.about-section p{
    text-align: left;
    margin-left: 400px ;
    margin-bottom: 10px;
}

