#contact h1{
    padding-top: 30px;
    text-align: center;
    margin-right: 90px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #444444;

}

#contact p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;

}