.header-title{
    color: #2978b5;
    margin-left: 190px;
    margin-top: 20px;
    font-size: 20pt;
}

.header-title:hover{
    text-decoration: underline;
}

@media screen and (max-width: 400px) {
    .header-title{
        display: none;
    }


}
@media screen and (max-width: 768px) {
    .header-title{
        display: none;
    }
}