.Navbar{
    text-align: right;
    margin: 20px;
}
.Navbar-item{
    color: #444444;
    margin: 10px;
    text-align: center;
    font-size: medium;
    font-weight: 500;
}
a:link{
    color: #444444;
    text-decoration: none;
}
/* a:hover{
    background-color: rgb(152, 152, 156);
} */
.Navbar-item:hover{
    text-decoration: underline;

}